@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

.back{
    -fx-background-color: #E6E7E8;
}

.header{
    -fx-background-color: #0D6D1E;
}

.font{
    -fx-font-family: url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
    -fx-font-style: italic;
}

.header2{
    -fx-background-color: #39A55E;
}

.headerfont{
    -fx-font-family: url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
    -fx-font-weight: bold;
}

.buttonstyle{
    -fx-font-family: url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
    -fx-font-weight: bold;
    -fx-background-color: #FEFEFE;
}
